* {
    outline: none;
}

textarea {
    resize: none;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 400px;
}

.option-button {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: 80px;
}

.option-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.main-body {
    margin: 50px 0 0 200px;
}

.unloggedin-main-body {
    margin-top: 50px;
}

.main-body,
.unloggedin-main-body {
    background-color: white;
    overflow-y: scroll;
}

.main-header {
    background-color: #1169D9;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
}

.main-logo {
    margin-left: 20px;
    width: 125px;
}

.main-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-options div {
    background-color: white;
    border-color: grey;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    height: 20px;
    margin: 9px;
    padding: 5px 0;
    text-align: center;
    width: 160px;
}

.main-options .unloggedin-main-option {
    width: 80px;
}

.main-logout {
    background-color: white;
    border-color: grey;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    height: 20px;
    margin: 9px;
    padding: 5px 0;
    text-align: center;
    width: 100px;
}

.main-options div:hover:not(.main-option-await),
.main-logout:hover {
    border-color: white;
    cursor: pointer;
}

.main-sidebar {
    background-color: #1169D9;
    height: calc(100vh - 50px);
    margin-top: 50px;
    position: fixed;
    top: 0;
    width: 200px;
}

.sidebar-find_instructor,
[class^="sidebar-view_profile"] {
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    margin: 20px;
    padding: 5px;
    text-align: center;
}

.sidebar-view_profile-disabled {
    opacity: 0.2;
}

.sidebar-find_instructor:hover,
.sidebar-view_profile:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.sidebar-header {
    color: white;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
}

.class-list {
    height: calc(100vh - 360px);
    margin: 0 10px;
    overflow-y: scroll;
}

[class^="listed-class"] {
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    margin: 10px 0;
    padding: 5px;
}

.listed-class-disabled {
    opacity: 0.2;
}

.listed-class:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.class-top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prof-profile-holder {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: space-around;
    overflow: hidden;
    width: 40px;
}

.class-name {
    margin-top: 10px;
    text-align: center;
    width: 120px;
}

.prof-classcode,
.prof-name {
    font-weight: bold;
    margin: 2px 0;
    text-align: center;
}

.sidebar-tabs {
    margin: 0 auto;
}

.earnings-header {
    text-align: center;
}

.sidebar-tab {
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    margin: 20px;
    padding: 5px;
    text-align: center;
}

.sidebar-tab:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* error payment box */
.error-payment-box {
    background-color: white;
    border-color: grey;
    border-radius: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 600px;
}

.error-payment-header {
    font-size: 20px;
}

.error-payment-header strong {
    color: #1169D9
}

.error-payment-header strong:hover {
    cursor: pointer;
}

.error-payment-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.error-payment-button {
    border-radius: 3px;
    border-style: solid;
    font-size: 15px;
    margin: 20px;
    padding: 3px 10px;
    text-align: center;
    width: 100px;
}

.error-payment-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
/* End error payment box */
