.find_instructor-header {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}

.instructor_name-input {
    border-color: grey;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    margin: 20px 0;
    padding: 10px;
    width: 500px;
}

.instructors {
    margin: 0 auto;
    width: 800px;
}

.instructor-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.instructor-disable {
    background-color: rgba(127, 127, 127, 0.5);
}

.instructor {
    background-color: white;
}

.instructor-disable,
.instructor {
    border-color: rgba(127, 127, 127, 0.5);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    height: 300px;
    margin: 5px 0;
    overflow: hidden;
    width: 250px;
}

.instructor:hover {
    border-color: grey;
    cursor: pointer;
}

.instructor-name {
    font-weight: bold;
    padding: 10px 0 0 10px;
}

.instructor-profilepicture-holder {
    background-color: grey;
    border-radius: 85px;
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: space-around;
    margin: 10px auto;
    overflow: hidden;
    width: 170px;
}

.instructor-classes {
    background-color: rgba(127, 127, 127, 0.7);
}

.instructor-class {
    color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.instructors-no_results {
    height: calc(100vh - 250px);
    margin: 0 auto;
    text-align: center;
}

.hidden_box {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100vw;
}

.code_box {
    background-color: white;
    border-color: rgba(127, 127, 127, 0.2);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    width: 500px;
}

.code-header {
    font-weight: bold;
    padding: 30px 0;
}

.code-input {
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    margin: 30px 0;
    padding: 5px;
    width: 300px;
}

.code-error {
    color: darkred;
    text-align: center;
}

.code-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px auto;
    width: 250px;
}

.code-button {
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    text-align: center;
    width: 100px;
}

.code-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.nonpayment_box {
    background-color: white;
    border-color: rgba(127, 127, 127, 0.2);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    width: 500px;
}

.nonpayment-header {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
}

.nonpayment-subscribe {
    color: #1169D9;
}

.nonpayment-subscribe:hover {
    cursor: pointer;
}
