.profilepicture-holder {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    margin: 50px auto 10px auto;
    overflow: hidden;
    width: 200px;
}

.classes-box .classes-header {
    font-size: 30px;
    font-weight: bold;
    margin: 50px 0;
    text-align: center;
}

.classes-box .classes-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 700px;
}

.classes-box .class {
    border-radius: 5px;
    border-style: solid;
    margin: 0 50px;
    padding: 5px;
    width: 250px;
}

.classes-box .class div {
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

/* hidden boxes */
.non-box {
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    width: 400px;
}

.non-header {
    padding: 5px 10px;
    text-align: center;
}

.non-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px auto;
    width: 300px;
}

.non-options-button {
    border-radius: 3px;
    border-style: solid;
    padding: 5px;
    text-align: center;
    width: 100px;
}

.non-options-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
/* end hidden boxes */
