.profilepicture-holder {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    margin: 50px auto 10px auto;
    overflow: hidden;
    width: 200px;
}

.prof-profile-name {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}

.student-ask-question-input {
    border-radius: 3px;
    border-style: solid;
    border-width: 3px;
    font-size: 15px;
    height: 100px;
    margin: 20px auto 0 auto;
    padding: 10px;
    width: 600px;
}

.student-ask-question-error {
    color: darkred;
    margin: 2px 0;
    text-align: center;
}

.student-ask-question-button {
    border-radius: 3px;
    border-style: solid;
    margin: 0 auto 20px auto;
    padding: 5px 10px;
    text-align: center;
    width: 50px;
}

.student-ask-question-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.instructor-info {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-around;
    margin: 0 auto;
    text-align: left;
    width: 300px;
}

.info-questions {
    height: 50px;
    width: 100px;
}

.info-num-header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.info-header {
    font-size: 20px;
    color: grey;
    font-weight: 100;
    text-align: center;
}

.questions-list {
    margin: 20px auto;
    text-align: left;
    width: 700px;
}

.question {
    border-radius: 5px;
    border-style: solid;
    margin-bottom: 10px;
    padding: 10px;
}

.question-delete {
    border-radius: 20px;
    border-style: solid;
    font-weight: bold;
    height: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 20px;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.student-info {
    width: 350px;
}

.question-info [class^="num-"] {
    margin-left: -200px;
}

.question .student-info div {
    margin-bottom: 30px;
}

.upvotes-num-header,
.downvotes-num-header {
    font-weight: bold;
}

.upvotes-num-header,
.upvotes-header,
.downvotes-num-header,
.downvotes-header {
    text-align: center;
}

.answer-votes [class^="num-"] {
    margin-left: -40px;
}

.upvotes-button,
.downvotes-button {
    border-radius: 15px;
    border-style: solid;
    height: 20px;
    margin: -30px 0 20px 150px;
    text-align: center;
    width: 20px;
}

.student-upvotes-button,
.student-downvotes-button {
    border-radius: 15px;
    border-style: solid;
    height: 20px;
    margin: -30px 0 20px 140px;
    text-align: center;
    width: 20px;
}

[class$="upvotes-button"]:hover,
[class$="downvotes-button"]:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.prof-answer {
    border-radius: 3px;
    border-style: solid;
    min-height: 100px;
    margin: 10px 0;
    padding: 5px;
}

.answer {
    border-radius: 3px;
    border-style: solid;
    min-height: 100px;
    margin-right: 5px;
    padding: 5px;
    width: 1805px;
}

.student-answers-header {
    font-weight: bold;
    padding: 5px 0;
}

.student-answer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 656px;
}

.answer-votes {
    border-radius: 3px;
    border-style: solid;
    padding: 5px;
    width: 500px;
}

.provide-answer {
    border-radius: 3px;
    border-style: solid;
    margin: 20px auto;
    padding: 5px 0;
    text-align: center;
    width: 190px;
}

.provide-answer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* hidden box */
.hidden-box {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100vw;
}

/* answer provide box */
[class$="-answer-provide-box"] {
    background-color: white;
    border-color: grey;
    border-radius: 5px;
    border-style: solid;
    margin: 0 auto;
    text-align: center;
    width: 600px;
}

[class$="-answer-provide-header"] {
    font-weight: bold;
    padding: 50px 0;
    text-align: center;
}

[class$="-answer-provide-input"] {
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    font-size: 20px;
    height: 200px;
    margin: 20px 0 10px 0;
    padding: 5px;
    width: 500px;
}

[class$="-error"] {
    color: darkred;
    margin: 3px 0;
    text-align: center;
}

[class$="-answer-options"] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 300px;
}

[class$="-answer-options"] div {
    border-radius: 5px;
    border-style: solid;
    margin: 10px auto;
    padding: 2px 5px;
    text-align: center;
    width: 100px;
}

[class$="-answer-options"] [class$="-button"]:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
/* End answer provide box */

/* delete question confirmation box */
.delete-question-confirmation-box {
    background-color: white;
    border-color: grey;
    border-radius: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 600px;
}

.delete-question-confirmation-question-header {
    margin: 20px 0;
}

.delete-question-confirmation-box [class$="-header"] {
    font-size: 15px;
}

.delete-question-confirmation-vote-info,
.delete-question-confirmation-answered-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto;
    width: 400px;
}

.delete-question-confirmation-vote-info [class$="-num"],
.delete-question-confirmation-answered-info [class$="-num"] {
    font-size: 25px;
    font-weight: bold;
}

.delete-question-confirmation-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto;
    width: 300px;
}

.delete-question-confirmation-options-button {
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
    text-align: center;
    width: 100px;
}

.delete-question-confirmation-options-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
/* End delete question confirmation box */
/* End hidden box */
