.main-payment-header {
    font-size: 25px;
    font-weight: bold;
    margin: 50px 0;
    text-align: center;
}

.main-payment {
    margin: 20px auto;
    width: 700px;
}

.payment-input-box {
    margin: 20px auto;
    width: 400px;
}

.payment-input-header {
    font-size: 20px;
}

.payment-input,
.payment-input-short {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
    padding: 10px;
    width: 400px;
}

.main-payment-split {
    font-size: 27px;
    margin: 0 5px;
}

.payment-row {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.payment-input-short {
    width: 30px;
}

.payment-checkbox {
    text-align: center;
}

.payment-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 300px;
}

.payment-options-button {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: white;
    border-radius: 3px;
    border-style: solid;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 0;
    width: 100px;
}
