.main-terms-header {
    font-size: 25px;
    font-weight: bold;
    margin: 50px 0;
    text-align: center;
}

.main-terms {
    margin: 20px auto;
    width: 700px;
}

.terms-item {
    margin-bottom: 30px;
}

.terms-itemheader {
    font-size: 15px;
    font-weight: bold;
}
